{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "link-shortener-svc",
    "description": "This service provides URL shortening functionality. It allows users to create short links from long URLs, redirect users to original URLs when they use shortened links."
  },
  "servers": [
    {
      "url": "https://api.demo.tokend.io",
      "description": "TokenD Developer Environment"
    }
  ],
  "paths": {
    "/integrations/link-shortener-svc/original": {
      "get": {
        "summary": "Get original URL",
        "tags": [
          "ShortLinks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "shortCode",
            "required": true,
            "schema": {
              "type": "string",
              "example": "abc123"
            },
            "description": "Short code of the URL to retrieve the original URL."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOriginalURLResponse"
                }
              }
            }
          },
          "404": {
            "description": "Short link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    },
    "/integrations/link-shortener-svc/shortener": {
      "post": {
        "summary": "Create a short link",
        "tags": [
          "ShortLinks"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShortLinkRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShortLinkResponse"
                }
              }
            }
          },
          "404": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error500"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CreateShortLinkRequest": {
        "type": "object",
        "required": [
          "original_url"
        ],
        "properties": {
          "original_url": {
            "type": "string",
            "example": "https://example.com/very/long/url"
          }
        }
      },
      "CreateShortLinkResponse": {
        "type": "object",
        "properties": {
          "short_code": {
            "type": "string",
            "example": "abc123"
          }
        }
      },
      "Error404": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "404"
              },
              "message": {
                "type": "string",
                "example": "NOT_FOUND"
              }
            }
          }
        }
      },
      "Error500": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "500"
              },
              "message": {
                "type": "string",
                "example": "INTERNAL_SERVER_ERROR"
              }
            }
          }
        }
      },
      "GetOriginalURLResponse": {
        "type": "object",
        "properties": {
          "original_url": {
            "type": "string",
            "example": "https://example.com/very/long/url"
          }
        }
      },
      "ShortLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "original_url": {
            "type": "string",
            "example": "https://example.com/very/long/url"
          },
          "short_code": {
            "type": "string",
            "example": "abc123"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "clicks": {
            "type": "integer",
            "example": 0
          }
        }
      }
    },
    "parameters": {
      "pageLimitParam": {
        "in": "query",
        "name": "page[limit]",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 15,
          "description": "Numbers of items per page to return."
        }
      },
      "pageNumberParam": {
        "in": "query",
        "name": "page[number]",
        "required": false,
        "schema": {
          "type": "integer"
        },
        "description": "The number of a page to return."
      },
      "sortingParam": {
        "in": "query",
        "name": "page[order]",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc",
          "description": "Order of records on the page. If sortingParam is not specified, order of records is by default sorted by ID."
        }
      }
    }
  }
}
